<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">Usuários</ion-title>

    <ion-searchbar placeholder="Pesquisar" *ngIf="isSearchbarOpened" showCancelButton="true"
      (ionCancel)="isSearchbarOpened=false" (ionInput)="getUsuarios($event)">
    </ion-searchbar>
    <ion-buttons end>



      <button ion-button icon-only (click)="perfil()" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">

        <ion-icon name="md-contact"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">

        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only (click)="adicionar()">
        <ion-icon name="add"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>




  <ion-list style="margin-top: 20px;">
    <ion-item-sliding *ngFor="let item of usuarios ">


      <ion-item no-lines>
        
        <ion-avatar item-start>
          <img *ngIf="item.genero != 'Masculino'" src="../../assets/imgs/fem.jpg">
          <img *ngIf="item.genero == 'Masculino'" src="../../assets/imgs/masculino.png">
        </ion-avatar>

        <h2> <span style="padding: 10px;"> {{item.nome}} </span> </h2>
        <p> <span style="padding: 10px;"> {{item.email}} </span> </p>
      </ion-item>

      <ion-item-options side="right">


        <button ion-button color="dark" (click)="editar(
          item.id,
          item.nome,
          item.email,
          item.usuario,
          item.senha,
          item.sobrenome,
          item.telefone,
          item.cep,
          item.endereco,
          item.numero,
          item.bairro,
          item.cidade,
          item.estado,
          item.complemento,
          item.nivel,
          item.genero

                                                        )">
          <ion-icon name="brush"></ion-icon>
        </button>


        <button ion-button color="danger" (click)="delete(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>

      </ion-item-options>


    </ion-item-sliding>
  </ion-list>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="CARREGANDO...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>